In [ ]:
#1.print '*' n number of times in a raw

n = int(input('Enter numbers'))
for i in range(n):
    print('*',end=' ')

In [1]:
#2. Print square with '*'
n = int(input('Enter number of rows'))
for i in range(n):
    print('*' * n)

Enter number of rows5
*****
*****
*****
*****
*****

In [3]:
#3.Print square with '5'
n = int(input('enter number of rows'))
for i in range(n):
    print((str(n)+" ")* n)

enter number of rows5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [5]:
#4. square pattern with provided fixed digit in every row
n = int(input('enter number of rows'))
for i in range(n):
    print((str(i+1)+' ')*n)

enter number of rows4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [6]:
#5 . to print square pattern with fixed alphabet symbol
n = int(input('enter number of rows'))
for i in range(n):
    print(('A ')*n)

enter number of rows4
A A A A
A A A A
A A A A
A A A A

In [8]:
# 4. square pattern with provided fixed digit in every row
n = int(input('enter number of rows'))
for i in range(0,n,-1):
    print((str(i+1)+' ')*n)

enter number of rows5

In [1]:
#5.
n = int(input('enter number of rows'))
for i in range(n):
    for j in range(n):
        print(j+1,end= ' ')
    print('')

enter number of rows3
1 2 3
1 2 3
1 2 3

In [3]:
#6. 
n = int(input('enter number of rows'))
for i in range(n):
    for j in range(n):
        print(chr(65+j),end=' ')
    print()

enter number of rows3
A B C
A B C
A B C

In [6]:
#7.
n = int(input('enter number of rows'))
for i in range(n):
    print((str(n-i)+' ')*n)

enter number of rows3
3 3 3
2 2 2
1 1 1

In [12]:
#8.
n = int(input('enter number of rows'))
for i in range(n):
    for j in range(n):
        print(str(n-i),end=' ')
    print()

enter number of rows3
3 3 3
2 2 2
1 1 1

In [14]:
#9.
n = int(input('enter number of rows'))
for i in range(n):
    for j in range(i):
        print(str(n-i),end=' ')
    print()

enter number of rows5

4
3 3
2 2 2
1 1 1 1

In [20]:
#10. reverse alphabet pattern
n = int(input('enter number of rows'))
for i in range(n):
    print(chr(64+n-i) * n)

enter number of rows3
CCC
BBB
AAA

In [22]:
#11.
n = int(input('enter number of rows'))
for i in range(n):
    for j in range(n):
       print(n-j,end=' ') 
    print()

enter number of rows3
3 2 1
3 2 1
3 2 1

In [24]:
#12.
n = int(input('enter number of rows'))
for i in range(n):
    for j in range(n):
       print(chr(64+n-j),end=' ') 
    print()

enter number of rows4
D C B A
D C B A
D C B A
D C B A

In [25]:
#13. Inverted right angle triangle
n = int(input('enter number of rows'))
for i in range(n):
    print((n-i)*'*')

enter number of rows4
****
***
**
*

# important points in patterns
1. How many symbols
2. which symbol
3. No of symbols in each row
4. If space than no of spaces

In [30]:
#14.
n = int(input('enter number of rows'))
for i in range(n):
    for j in range(n-i):
        print(str(j+1),end=' ')
    print()

enter number of rows3
1 2 3
1 2
1

In [31]:
#15.Print pyramid with fixed digit in every row
n = int(input('enter number of rows'))
for i in range(n):
    print(' '*(n-i-1) + (str(i+1)+' ')*(i+1))

enter number of rows4
   1
  2 2
 3 3 3
4 4 4 4

In [34]:
#16. Pyramid pattern with alphabet symbols in reverse of dictionary order
n = int(input('enter number of rows'))
for i in range(n):
    print(' '*(n-i-1),end='')
    for j in range(i+1):
        print(chr(64+n-j),end=' ')
    print()

enter number of rows26
                         Z
                        Z Y
                       Z Y X
                      Z Y X W
                     Z Y X W V
                    Z Y X W V U
                   Z Y X W V U T
                  Z Y X W V U T S
                 Z Y X W V U T S R
                Z Y X W V U T S R Q
               Z Y X W V U T S R Q P
              Z Y X W V U T S R Q P O
             Z Y X W V U T S R Q P O N
            Z Y X W V U T S R Q P O N M
           Z Y X W V U T S R Q P O N M L
          Z Y X W V U T S R Q P O N M L K
         Z Y X W V U T S R Q P O N M L K J
        Z Y X W V U T S R Q P O N M L K J I
       Z Y X W V U T S R Q P O N M L K J I H
      Z Y X W V U T S R Q P O N M L K J I H G
     Z Y X W V U T S R Q P O N M L K J I H G F
    Z Y X W V U T S R Q P O N M L K J I H G F E
   Z Y X W V U T S R Q P O N M L K J I H G F E D
  Z Y X W V U T S R Q P O N M L K J I H G F E D C
 Z Y X W V U T S R Q P O N M L K J I H G F E D C B
Z Y X W V U T S R Q P O N M L K J I H G F E D C B A

In [44]:
#17. Right half diamond using alphabet
n = int(input('enter number of rows'))
for i in range(n):
    for j in range(i+1):
        print((chr(65+j)),end='')
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(chr(65+j),end='')
    print()

enter number of rows4
A
AB
ABC
ABCD
ABC
AB
A

In [5]:
#18. Right Angle Triangle pattern with fixed alphabet symbol
n = int(input('enter number of rows'))
for i in range(n):
    print((chr(65+i))*(i+1))

#print(chr(65))

enter number of rows4
A
BB
CCC
DDDD

In [46]:
#19.To print Inverted Pyramid Pattern with alphabet symbols in dictionary order
n = int(input('enter number of rows'))
for i in range(n):
    print(' '*i,end=' ')
    for j in range(n-i):
        print(chr(65+j),end=' ')
    print()

enter number of rows26
 A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
  A B C D E F G H I J K L M N O P Q R S T U V W X Y
   A B C D E F G H I J K L M N O P Q R S T U V W X
    A B C D E F G H I J K L M N O P Q R S T U V W
     A B C D E F G H I J K L M N O P Q R S T U V
      A B C D E F G H I J K L M N O P Q R S T U
       A B C D E F G H I J K L M N O P Q R S T
        A B C D E F G H I J K L M N O P Q R S
         A B C D E F G H I J K L M N O P Q R
          A B C D E F G H I J K L M N O P Q
           A B C D E F G H I J K L M N O P
            A B C D E F G H I J K L M N O
             A B C D E F G H I J K L M N
              A B C D E F G H I J K L M
               A B C D E F G H I J K L
                A B C D E F G H I J K
                 A B C D E F G H I J
                  A B C D E F G H I
                   A B C D E F G H
                    A B C D E F G
                     A B C D E F
                      A B C D E
                       A B C D
                        A B C
                         A B
                          A

In [51]:
#20. To print Diamond Pattern with * symbols
n = int(input('enter number of rows'))
for i in range(n):
    print((' '*(n-i-1))+('* '*(i+1)))
for i in range(n-1):
    print((' '*(i+1))+('* '*(n-i-1)))

enter number of rows4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [53]:
#21.To print Right Half Diamond Pattern with *
n = int(input('enter number of rows'))
for i in range(n):
    print('*'*(i+1))
for i in range(n-1):
    print('*'*(n-i-1))

enter number of rows4
*
**
***
****
***
**
*

In [57]:
#22.To print Left Half Diamond Pattern with * symbols
n = int(input('enter number of rows'))
for i in range(n):
    print((" "*(n-i-1))+("*"*(i+1)))
for i in range(n):
    print((" "*(i+1))+("*"*(n-i-1)))

enter number of rows5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [5]:
#23. To print Top Half Hallow Diamond Pattern with * symbols
n = int(input('enter number of rows'))
for i in range(n):
    print((" "*(n-i-1))+"*",end='')
    if i>=1:
        print(" "*(2*i-1)+'*',end='')
    print()

enter number of rows4
   *
  * *
 *   *
*     *

In [14]:
#24.To print bottom Half Hallow Diamond Pattern with * symbols
n = int(input('enter number of rows'))
for i in range(n):
    print(" "*i+"*",end='')
    if i!=(n-1):
        print((" "*(n+1-2*i))+'*',end='')
    print()

enter number of rows4
*     *
 *   *
  * *
   *

In [20]:
#25.To print Bottom Half Hollw Diamond Pattern with aplhabet symbols in reverse
n = int(input('enter number of rows'))
for i in range(n):
    print("  "*i+chr(65+i)+'  ',end='')
    if i!=(n-1):
        print(("  "*(n+1-2*i))+chr(65+i),end='')
    print()

enter number of rows5
A              A
  B          B
    C      C
      D  D
        E

In [34]:
#26.To print Left Half Diamond Pattern with digits in ascending order
n = int(input('enter number of rows'))
for i in range(n):
    print(" "*(n-i-1),end='')
    for j in range(i+1):
        print(j+1,end='')
    print()

for i in range(n-1):
    print(" "*(i+1),end='')
    for j in range(i):
        print(j+1,end='')
    print()

enter number of rows5
    1
   12
  123
 1234
12345

  1
   12
    123