# Strings

In [5]:
#String Creation
str1 = 'Hello Python'
print(str1)

Hello Python

In [2]:
mystr = 'Hello World' #single comment
print(mystr)

Hello World

In [4]:
mystr = "Hello world" #double quote
print(mystr)

Hello world

In [7]:
mystr = '''Hello         
            World'''
print(mystr)         #Define string using triple quotes

Hello
            World

In [1]:
mystr = ('Happy '         
         'Monday '
         'Everyone')
print(mystr)

Happy Monday Everyone

In [15]:
mystr2 = 'Woho '
print(len(mystr2*3))
mystr2 = mystr2*3
print(mystr2)
len(mystr2) #length of the string

15
Woho Woho Woho

15

In [19]:
#String Indexing
str1
str1[1]
str1[0]

'H'

In [23]:
# Last character in string using len function
str1[len(str1)-1]

'n'

In [ ]:
# Last character in string
str1[-1]

In [ ]:
#Fetch 7th element of the string 
str1[6]

In [24]:
# String slicing - Fetch all characters from 0 to 5 index location excluding the character at loc 5.
str1[0:5]

'Hello'

In [25]:
# String slicing - Retreive all characters between 6 - 12 index loc excluding index loc 12.
str1[6:12]

'Python'

In [31]:
# Retreive last four characters of the string
print(str1[-1:-5:-1])
print(str1[-4:])

noht
thon

In [32]:
# Retreive last six characters of the string
str1[-6:]

'Python'

In [33]:
# Retreive first four characters of the string
str1[0:5]

'Hello'

In [34]:
# Retreive first six characters of the string
str1[0:6]

'Hello '

# Update & Delete String

In [36]:
str1 = "HELLO PYTHON"

In [37]:
#Strings are immutable which means elements of a string cannot be changed once they have been assigned.
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [38]:
del str1 #Delete a string
print(srt1)

NameError: name 'srt1' is not defined

# String concatenation

In [40]:
s1= 'Mansi'
s2 = 'Patel'
s3 = s1+s2
print(s3)

MansiPatel

# Iterating through a String

str1

In [42]:
str1='Hello Python'
for char in str1:
    print(char,end='')

Hello Python

In [44]:
??enumerate

In [47]:
for char in enumerate(str1):
    print(char,end='')

(0, 'H')(1, 'e')(2, 'l')(3, 'l')(4, 'o')(5, ' ')(6, 'P')(7, 'y')(8, 't')(9, 'h')(10, 'o')(11, 'n')

In [48]:
list(enumerate(str1))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'P'),
 (7, 'y'),
 (8, 't'),
 (9, 'h'),
 (10, 'o'),
 (11, 'n')]

# String Membership

In [49]:
str1 = "Hello Everyone"
print('Hello' in str1)
print('Everyone' in str1)
print('Hi' in str1)

True
True
False

# String Partitioning

In [50]:
"""
The partition() method searches for a specified string and splits the string into a tuple containing three elements.

 - The first element contains the part before the argument string.

 - The second element contains the argument string.

 - The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and") 
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [51]:
"""
The rpartition() method searches for the last occurence of the specified string and splits the string into a tuple 
containing three elements.

 - The first element contains the part before the argument string.

 - The second element contains the argument string.

 - The third element contains the part after the argument string.
"""

mystr2 = "   Hello Everyone  "
mystr2

'   Hello Everyone  '

In [52]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [53]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [54]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [55]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [56]:
mystr2 = "   Hello Everyone  "

In [57]:
mystr2.lower()

'   hello everyone  '

In [58]:
mystr2.upper()

'   HELLO EVERYONE  '

In [59]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

'   Hollo Everyone  '

In [60]:
mystr2.replace(" " , "") # Remove all whitespaces using replace function

'HelloEveryone'

In [61]:
mystr5 = "one two Three one two two three"
mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [65]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [66]:
mystr5.startswith("one")  # Return boolean value True if string starts with "one"

True

In [67]:
mystr5.endswith("three") # Return boolean value True if string ends with "three"

True

In [68]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

In [69]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [70]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item1 , item2 and item3 are {} , {} and {}"

print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [71]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100) # center align the string using a specific character as the fill character.
print(str2)

                                          WELCOME EVERYONE

In [72]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*') # center align the string using a specific character ('*') as the fill character.
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [85]:
str2 = "WELCOME EVERYONE"
str2 = str2.rjust(16,"*") # Right align the string using a specific character as the fill character.
print(str2)

WELCOME EVERYONE

In [86]:
str2.ljust(20,'*')

'WELCOME EVERYONE****'

In [87]:
str4 = "one two three four five six seven"
loc = str4.find('five') # Find the location of word 'five' in the string "str4"
print(loc)

19

In [88]:
str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [89]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are letters
print(mystr6.isalnum())  # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
True
True

In [90]:
str6 = "one two three four one two two three five five six one ten eight ten nine eleven ten ten nine"

loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [93]:
str6 = "one two three four one two two three five five six one ten eight ten nine eleven ten ten nine"

loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [94]:
txt = "   abc def ghi   "

In [95]:
txt.rstrip()

'   abc def ghi'

In [96]:
txt.lstrip()

'abc def ghi   '

In [97]:
txt.strip()

'abc def ghi'

# Using Escape Character

In [99]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

In [100]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (<ipython-input-100-0fa35a74da86>, line 2)